# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.py
*.pyc

build
devel
install
lib
bin
*_gen
catkin
catkin_generated
gtest
test_results
msg_gen
srv_gen

# cmake
CMakeCache.txt
CMakeFiles
# Makefile
cmake_install.cmake
install_manifest.txt


# eclipse
.project
.cproject
.pydevproject
*/.settings
*/_*

# ROS warehouse
default_warehouse_mongo_db
